/*.container {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
}
.item1 {
	flex-basis: 300px;
	width: 100px;
	height: 200px;
	background-color: red;
	flex-grow: 0; 
	flex-shrink: 0;
}
.item2 {
	flex-basis: 300px;
	height: 200px;
	width: 100px;
	background-color: green;
	flex-grow: 0; 
	flex-shrink: 1;
}
.item3 {
	flex-basis: 300px;
	height: 200px;
	width: 100px;
	background-color: blue;
	flex-grow: 0;
	flex-shrink: 1;
}*/
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	font-family: Arial? sans-serif;
	color: #909090;
	background-color: #fff;
}
a {
	text-decoration: none;
	color: #909090;
}
.container {
	width: 100%;
	min-width: 480px;
	max-width: 585px;
	margin: 0 auto;
	position: relative;
}
.header-menu li:hover {
	border-bottom: 1px solid #5094f2;
} 

.logo-img {
	width: 52px;
	height: 52px;
	background-color: #5094f2;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	        position: absolute;
	        z-index: 2;
}
.simvol {
	font-size: 70px;
	color: #fff;
	position: absolute;
	margin-left: 10px;
	margin-top: 10px; 
	z-index: 3;
}
.logo-text {
	position: absolute;
	margin-left: 60px;
	font-size: 49px;
	font-weight: 300;
	letter-spacing: 0.42px;
}
.logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.mob-menu  {
	width: 58px;
	height: 44px;
	background-color: #5094f2;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	padding: 10px;
}
.mob-menu span {
	display: block;
	background-color: #fff;
	height: 6px;
	margin-bottom: 3px; 
	width: 100%;
}
.mob-menu span:last-child {
	margin-bottom: 0;
}
.header-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 20px 0;
}
.header-nav {
	display: none;
}
.mob-menu {
	display: block;
}
.slider-bg {

	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	        background-size: cover;
}
.slider-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 22px;
}

.slider-item-img img {
	max-width: 100%;
	height: auto;
	display: block;

}
.slider-item-img {
	
	padding-right: 6px;
	padding-left: 6px;
}
.slider-item-text {
	margin-left: 60px;
	padding-top: 6px;
}
button {
	background-color: #5094f2;
	color: #fff;
	border: none;
	margin-top: 30px;
}

.info-img {
	width: 137px;
	height: 137px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
}
.info-img img {
	margin: auto;
	width: 55%;
	height: auto;
}
.info-img1 {
	background-color: #5094f2;
}
.info-img2 {
	background-color: #d94748;
}
.info-img3 {
	background-color: #ebbb11;
}
.info-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.info-text h2 {
	color: #5094f2;
	font-size: 18px;
}

.cart-block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		        padding-top: 50px;
		        text-align: center;
}

h2 {	
	font-size: 25px;
	margin-bottom: 20px;
}
h4 {
	font-size: 18px;
}

.cart-img {
	padding-bottom: 20px;
	padding-top: 20px;
}
.cart-text {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	text-align: left;
}
footer {
	padding-top: 15px;
	text-align: center;
}
hr {
	color: #aeaeae;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 1024px;
	}
	.header-menu {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.header-menu li {
		margin-right: 30px;
	}
	.header-nav {
		display: block;
	}
	.mob-menu {
		display: none;
	}
	.info {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;

	}
	.info-item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
		-webkit-flex-basis: 33.333333%;
		    -ms-flex-preferred-size: 33.333333%;
		        flex-basis: 33.333333%;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		    -ms-flex-positive: 0;
		        flex-grow: 0;
		-webkit-flex-shrink: 0;
		    -ms-flex-negative: 0;
		        flex-shrink: 0;
	}
	.cart-block {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		        padding-top: 50px;

	}
	.cart-text {
		text-align: left;
	}

}